.blogtitle{
    width: 100%;
    max-width: 1440px;
    padding: 0 100px;
    margin: 20px auto;
    display: flex;
    gap: 60px;
}
.blog_text{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}
.blog_text h3{
    color: var(--red, #CF0505);
font-family: "Noto Sans JP";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.4px;
}
.blog_text p{
    color: var(--black, #000);
font-family: "Noto Sans JP";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.68px;
}
.blog_text button{
    border: 1px solid  #ADADAD;
background: #FFF;
width: fit-content;
padding: 4px 8px;
color: var(--black_accent, #191615);
font-family: "Noto Sans JP";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.8px;
}
.blogtitle img{
    width: 40%;
}