.navbar {
  
  width: 100%;
  margin: 0 auto;
  z-index: 500;
  
}

.navbar.active{
    position: fixed;
  top: 0;
  background-color: white;
  opacity: .8;
}

nav {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  padding: 0 40px;
}

nav a {
  text-decoration: none;
}
nav a img {
  width: 92px;
  height: 92px;
}
.list {
  display: flex;
  gap: 24px;
  align-items: center;
}
.list .stick {
  width: 1px;
  height: 20px;
  background-color: white;
}
.list ul {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.list ul li {
  list-style: none;
}
.list ul li a {
  color: #000;
  text-align: center;
  height: 100%;
  padding: 10px 0;
  border: 0.8px solid #fff;
}
nav .list ul li:hover a {
  border-bottom: 0.8px solid #000;
}
.list button {
  width: 169px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px;
  color: #fff;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--black_accent, #191615);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

nav .list button:hover {
  cursor: pointer;
}
nav .list button img {
  width: 6.5px;
  height: 11.5px;
}

.off_screen__menu {
  background-color: #CF0505;
  opacity: .8;
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  z-index: 30;  
  top: 0;
  transition: 0.3s ease;
  right: -450px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.off_screen__menu button {
  padding: 4px 24px;
  border-radius: 400px;
  background-color: #191615;
  border: none;
  color: white;
}

.off_screen__menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  list-style: none;
}
.off_screen__menu ul li a {
  color: #fff;
  text-align: center;
  font-family: "Poly";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.off_screen__menu.active {
  right: 0;
}

.burger {
  width: 50px;
  height: 50px;
  display: none;
  margin-left: auto;
  position: relative;
  padding: 5px;
  z-index: 501;
}
.dashes {
  width: 100%;
  height: 5px;
  background-color: #191615;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.dashes:nth-child(1) {
  top: 25%;
}
.dashes:nth-child(3) {
  top: 75%;
}

.burger.active .dashes:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger.active .dashes:nth-child(2) {
  opacity: 0;
}
.burger.active .dashes:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (max-width: 1440px) {
  .navbar .container {
    width: 100%;
    margin: 0 auto;
  }
  .navbar.active{
    position: sticky;
  top: 0;
  z-index: 500;
  background-color: white;
  opacity: .8;
  }
}
@media (max-width: 900px) {
  .burger {
    display: block;
  }
  .navbar .container {
    width: 100%;
  }
  .list {
    display: none;
  }
}
@media(min-width: 900px){
    .off_screen__menu.active {
        right: -450px;
      }
}
/* ========== Navbar ends ======== */