.top_numbers{
    max-width: 1440px;
    width: 100%;
    padding: 0 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}
.top_numbers .number_card{
    width: 400px;
    height: 260px;
    border: 2px solid var(--red, #CF0505);
    padding: 30px 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number_card img{
    position: absolute;
    top: auto;
    left: auto;
    object-fit: cover;
    z-index: -1;
}


.top_numbers .number_card p{
    position: absolute;
    top: 30px;
    left: 40px;
}


.top_numbers .number_card p{
    color: var(--red, #CF0505);
font-family: "Noto Sans";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.top_numbers .number_card h2{
    color: var(--black, #000);
font-family: "Inter" sans-serif;
font-size: 90px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
margin-top: 24px;
}
.top_numbers .number_card h2 span{
    color: #000;
font-family: "Inter" sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 208%;
}

