.top_member{
    max-width: 1440px;
    width: 100%;
    margin: 20px auto;
    padding: 0 100px;
    display: flex;
    align-items: center;
    gap: 88px;
}
.top_member .members{
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 88px;
}
.top_member .members .member_card{
    width: 30%;
}
.top_member .members .member_card img{
    width: 100%;
    margin-bottom: 33px;
}
.top_member .members .member_card h4{
    color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.68px;
margin-bottom: 10px;
}
.top_member .members .member_card p{
    color: var(--pink_red2, rgba(207, 5, 5, 0.50));
font-family: "Noto Sans";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.8px;
margin-bottom: 10px;
}